<!DOCTYPE html>
<html lang="en">
    <meta name="google-site-verification" content="9Nk-1-VExk76wofq2iwLhm_6Hjs2Ycfu2gkl8wxVsJ8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>Ekene Ezeunala</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Reddit+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <i class="fa fa-clipboard" style="font-size:0px"></i>

    </head>
<body>
    <div class="ml-[14%] mr-[14%] mt-2 mb-12 font-main">
        <header class="mb-4 lg:mb-0 text-right ">
            <!-- Resume link -->
            <a class="hover:underline text-teal-600" target="_blank" rel="noopener noreferrer" href="files/ekene_short_resume">resume</a>
        </header>
        <h1 class="text-3xl lg:text-4xl text-center">Ekene Ezeunala</h1>
        <center class="mt-4">
            <!-- Contact email -->
            <code class="text-sm text-pink-800 bg-pink-100 p-2 rounded pointer-events-none"><!--apadaki (at) seas.upenn.edu --></code>
        </center>

        <!-- Profile image -->
        <img class="float-right ml-10 mt-8 mb-4 w-24 md:w-48 lg:w-56 rounded-lg lg:border-gray-700 lg:border-2" src="./files/img/profile.JPG">

        <!-- Biographical paragraph -->
        <!-- <p class="mt-8">I am a first-year Computer Science PhD student at the <a class="hover:underline text-blue-600" target="_blank" rel="noopener noreferrer" href="https://theory.cis.upenn.edu/people/">University of Pennsylvania</a>. I am broadly interested in designing algorithms for problems in high-dimensional geometry, graph theory, and machine learning.</p> -->

        <!-- Education information -->
        <!-- <p class="mt-5">I graduated from <a class="hover:underline text-blue-600" target="_blank" rel="noopener noreferrer" href="https://columbia.edu/">Columbia University</a>, majoring in Computer Science and Mathematics. In Summer 2023, I participated in the <a class="hover:underline text-blue-600" target="_blank" rel="noopener noreferrer" href="http://dimacs.rutgers.edu/">DIMACS REU</a>, where I studied the hardness of finding approximate solutions to a certain <a class="hover:underline text-blue-600" target="_blank" rel="noopener noreferrer" href="https://arxiv.org/abs/2312.02097">clustering objective</a>. As an undergraduate, I was lucky to have wonderful mentors in Josh Alman, Karthik C. S., and Rocco Servedio.</p> -->

        <!-- Fellowship information -->
        <!-- <p class="mt-5">I am supported by an <a class="hover:underline text-blue-600" target="_blank" rel="noopener noreferrer" href="https://www.nsfgrfp.org/">NSF Graduate Research Fellowship</a>.</p> -->
    
        <h2 class="text-2xl mt-10">Research</h2>
        <ul class="list-disc pl-10 mt-3">
            <!-- Research information -->
            <!-- <li><strong>Inapproximability of Maximum Diameter Clustering for Few Clusters</strong><br />
                with Karthik C. S., Henry Fleischmann, Kyrylo Karlov, Styopa Zharkov<br/>
                <a class="hover:underline text-red-700" target="_blank" rel="noopener noreferrer" href="https://arxiv.org/abs/2312.02097">[arXiv]</a> <i>In Submission</i></li>
            <li><strong>Smaller Low-Depth Circuits for Kronecker Powers</strong><br/>
                with Josh Alman, Yunfeng Guan<br/>
                <a class="hover:underline text-red-700" target="_blank" rel="noopener noreferrer" href="https://arxiv.org/abs/2211.05217">[arXiv]</a> <a class="hover:underline" target="_blank" rel="noopener noreferrer" href="https://epubs.siam.org/doi/10.1137/1.9781611977554.ch160"><i>SODA 2023</i></a></li> -->
        </ul>

        <h2 class="text-2xl mt-10">Teaching</h2>

        <div class="mt-3"><!--I was a teaching assistant for the following classes at Columbia:--></div>
        <ul class="list-disc pl-10 mt-2">
            <!-- Teaching experience -->
            <!-- <li><strong>Cryptography</strong> <br/>(COMS 4261, Fall 2023)</li>
            <li><strong>Computational Complexity</strong> <br/>(COMS 4236, Spring 2023)</li>
            <li><strong>Real Analysis I</strong> <br/>(MATH 4041, Fall 2022)</li> -->
        </ul>

        <!-- Mentorship experience -->
        <!-- <div class="mt-2">In Fall 2023, I co-mentored a lecture series in <a class="hover:underline text-blue-600" target="_blank" rel="noopener noreferrer" href="https://arxiv.org/abs/2105.10386">Boolean function analysis</a> as part of the <a class="hover:underline text-blue-600" target="_blank" rel="noopener noreferrer" href="https://columbia-ugtcs.github.io/fall2023.html">Columbia Undergraduate Learning Seminar in Theoretical Computer Science</a>.</div> -->

        <h2 class="text-2xl mt-10">Other</h2>

        <ul class="list-disc pl-10 mt-3">
            <!-- Previous internship -->
            <!-- <li>I previously interned as a quantitative trader at <a class="hover:underline text-blue-600" target="_blank" rel="noopener noreferrer" href="https://optiver.com/">Optiver</a>, an options market making firm in Chicago.</li> -->
            <!-- Hobbies and interests -->
            <!-- <li>In my free time, I enjoy playing soccer and table tennis, going on long walks and hikes, making music, and coming up with wordplay.</li> -->
        </ul>

    </div>
</body>
</html>